In [1]:
#  Importing necessary libraries

import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
#  loading dataset
df = pd.read_csv('./csv/datas.csv')
df.head()

   Id Colour Country
0   1    Red     USA
1   2    Red     USA
2   3   Blue      UK
3   4  Green  Canada
4   5  Green  Canada

In [3]:
df.tail()

      Id Colour Country
295  296   Blue     USA
296  297  Green     USA
297  298  Green      UK
298  299  Green  Canada
299  300   Blue     USA

In [4]:
df.dtypes

Id          int64
Colour     object
Country    object
dtype: object

In [6]:
df['Colour'].unique()

array(['Red', 'Blue', 'Green'], dtype=object)

In [7]:
df['Country'].unique()

array(['USA', 'UK', 'Canada'], dtype=object)

In [8]:
one_hot_encoder = OneHotEncoder()
print(one_hot_encoder)

OneHotEncoder()

In [9]:
one_hot_encoder.fit_transform(df[["Colour", "Country"]]).toarray()

array([[0., 0., 1., 0., 0., 1.],
       [0., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1.]])

In [19]:
feature_array = one_hot_encoder.fit_transform(df[["Colour", "Country"]]).toarray()
print(feature_array)

[[0. 0. 1. 0. 0. 1.]
 [0. 0. 1. 0. 0. 1.]
 [1. 0. 0. 0. 1. 0.]
 ...
 [0. 1. 0. 0. 1. 0.]
 [0. 1. 0. 1. 0. 0.]
 [1. 0. 0. 0. 0. 1.]]

In [20]:
one_hot_encoder.categories_

[array(['Blue', 'Green', 'Red'], dtype=object),
 array(['Canada', 'UK', 'USA'], dtype=object)]

In [21]:
feature_labels = one_hot_encoder.categories_
# print(feature_labels)

In [22]:
np.array(feature_labels).ravel()

array(['Blue', 'Green', 'Red', 'Canada', 'UK', 'USA'], dtype=object)

In [23]:
feature_labels = np.array(feature_labels).ravel()

In [24]:
print(feature_labels)

['Blue' 'Green' 'Red' 'Canada' 'UK' 'USA']

In [27]:
pd.DataFrame(feature_array, columns =feature_labels)

     Blue  Green  Red  Canada   UK  USA
0     0.0    0.0  1.0     0.0  0.0  1.0
1     0.0    0.0  1.0     0.0  0.0  1.0
2     1.0    0.0  0.0     0.0  1.0  0.0
3     0.0    1.0  0.0     1.0  0.0  0.0
4     0.0    1.0  0.0     1.0  0.0  0.0
..    ...    ...  ...     ...  ...  ...
295   1.0    0.0  0.0     0.0  0.0  1.0
296   0.0    1.0  0.0     0.0  0.0  1.0
297   0.0    1.0  0.0     0.0  1.0  0.0
298   0.0    1.0  0.0     1.0  0.0  0.0
299   1.0    0.0  0.0     0.0  0.0  1.0

[300 rows x 6 columns]

In [28]:
features = pd.DataFrame(feature_array, columns =feature_labels)

In [29]:
print(features)

     Blue  Green  Red  Canada   UK  USA
0     0.0    0.0  1.0     0.0  0.0  1.0
1     0.0    0.0  1.0     0.0  0.0  1.0
2     1.0    0.0  0.0     0.0  1.0  0.0
3     0.0    1.0  0.0     1.0  0.0  0.0
4     0.0    1.0  0.0     1.0  0.0  0.0
..    ...    ...  ...     ...  ...  ...
295   1.0    0.0  0.0     0.0  0.0  1.0
296   0.0    1.0  0.0     0.0  0.0  1.0
297   0.0    1.0  0.0     0.0  1.0  0.0
298   0.0    1.0  0.0     1.0  0.0  0.0
299   1.0    0.0  0.0     0.0  0.0  1.0

[300 rows x 6 columns]

In [30]:
features.head()

   Blue  Green  Red  Canada   UK  USA
0   0.0    0.0  1.0     0.0  0.0  1.0
1   0.0    0.0  1.0     0.0  0.0  1.0
2   1.0    0.0  0.0     0.0  1.0  0.0
3   0.0    1.0  0.0     1.0  0.0  0.0
4   0.0    1.0  0.0     1.0  0.0  0.0

In [32]:
pd.concat([df, features], axis = 1)

      Id Colour Country  Blue  Green  Red  Canada   UK  USA
0      1    Red     USA   0.0    0.0  1.0     0.0  0.0  1.0
1      2    Red     USA   0.0    0.0  1.0     0.0  0.0  1.0
2      3   Blue      UK   1.0    0.0  0.0     0.0  1.0  0.0
3      4  Green  Canada   0.0    1.0  0.0     1.0  0.0  0.0
4      5  Green  Canada   0.0    1.0  0.0     1.0  0.0  0.0
..   ...    ...     ...   ...    ...  ...     ...  ...  ...
295  296   Blue     USA   1.0    0.0  0.0     0.0  0.0  1.0
296  297  Green     USA   0.0    1.0  0.0     0.0  0.0  1.0
297  298  Green      UK   0.0    1.0  0.0     0.0  1.0  0.0
298  299  Green  Canada   0.0    1.0  0.0     1.0  0.0  0.0
299  300   Blue     USA   1.0    0.0  0.0     0.0  0.0  1.0

[300 rows x 9 columns]