In [28]:
#  Importing necessary libraries

import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [29]:
df =pd.read_csv("./csv/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [30]:
dummy_df = pd.get_dummies(df)
print(dummy_df)

     total_bill   tip  size  sex_Female  sex_Male  smoker_No  smoker_Yes  \
0         16.99  1.01     2        True     False       True       False
1         10.34  1.66     3       False      True       True       False
2         21.01  3.50     3       False      True       True       False
3         23.68  3.31     2       False      True       True       False
4         24.59  3.61     4        True     False       True       False
..          ...   ...   ...         ...       ...        ...         ...
239       29.03  5.92     3       False      True       True       False
240       27.18  2.00     2        True     False      False        True
241       22.67  2.00     2       False      True      False        True
242       17.82  1.75     2       False      True       True       False
243       18.78  3.00     2        True     False       True       False

     day_Fri  day_Sat  day_Sun  day_Thur  time_Dinner  time_Lunch
0      False    False     True     False         True       False
1      False    False     True     False         True       False
2      False    False     True     False         True       False
3      False    False     True     False         True       False
4      False    False     True     False         True       False
..       ...      ...      ...       ...          ...         ...
239    False     True    False     False         True       False
240    False     True    False     False         True       False
241    False     True    False     False         True       False
242    False     True    False     False         True       False
243    False    False    False      True         True       False

[244 rows x 13 columns]

In [32]:
dummy_df_drop_first = pd.get_dummies(df, drop_first=True)
print(dummy_df_drop_first)

     total_bill   tip  size  sex_Male  smoker_Yes  day_Sat  day_Sun  day_Thur  \
0         16.99  1.01     2     False       False    False     True     False
1         10.34  1.66     3      True       False    False     True     False
2         21.01  3.50     3      True       False    False     True     False
3         23.68  3.31     2      True       False    False     True     False
4         24.59  3.61     4     False       False    False     True     False
..          ...   ...   ...       ...         ...      ...      ...       ...
239       29.03  5.92     3      True       False     True    False     False
240       27.18  2.00     2     False        True     True    False     False
241       22.67  2.00     2      True        True     True    False     False
242       17.82  1.75     2      True       False     True    False     False
243       18.78  3.00     2     False       False    False    False      True

     time_Lunch
0         False
1         False
2         False
3         False
4         False
..          ...
239       False
240       False
241       False
242       False
243       False

[244 rows x 9 columns]

### One-hot encoding Scikit-learn

In [35]:
one_hot_encoder = OneHotEncoder(sparse_output=False)

In [36]:
columns_to_encode = ['sex', 'smoker', 'day', 'time']
one_hot_enc_arr = one_hot_encoder.fit_transform(df[columns_to_encode])

In [37]:
one_hot_encoded_df = pd.DataFrame(one_hot_enc_arr, columns=one_hot_encoder.get_feature_names_out(columns_to_encode))
print(one_hot_encoded_df)

     sex_Female  sex_Male  smoker_No  smoker_Yes  day_Fri  day_Sat  day_Sun  \
0           1.0       0.0        1.0         0.0      0.0      0.0      1.0
1           0.0       1.0        1.0         0.0      0.0      0.0      1.0
2           0.0       1.0        1.0         0.0      0.0      0.0      1.0
3           0.0       1.0        1.0         0.0      0.0      0.0      1.0
4           1.0       0.0        1.0         0.0      0.0      0.0      1.0
..          ...       ...        ...         ...      ...      ...      ...
239         0.0       1.0        1.0         0.0      0.0      1.0      0.0
240         1.0       0.0        0.0         1.0      0.0      1.0      0.0
241         0.0       1.0        0.0         1.0      0.0      1.0      0.0
242         0.0       1.0        1.0         0.0      0.0      1.0      0.0
243         1.0       0.0        1.0         0.0      0.0      0.0      0.0

     day_Thur  time_Dinner  time_Lunch
0         0.0          1.0         0.0
1         0.0          1.0         0.0
2         0.0          1.0         0.0
3         0.0          1.0         0.0
4         0.0          1.0         0.0
..        ...          ...         ...
239       0.0          1.0         0.0
240       0.0          1.0         0.0
241       0.0          1.0         0.0
242       0.0          1.0         0.0
243       1.0          1.0         0.0

[244 rows x 10 columns]